[submodule "third_party/vggt"]
	path = third_party/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "third_party/lightglue"]
	path = third_party/lightglue
	url = https://github.com/jytime/LightGlue.git
